@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso Negado";
}

<header>
    <div class="container">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">No tienes los suficientes permisos para acceder a este Recurso.</p>
    </div>
   
</header>
