

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
}


.header {
    height: 20vh;
    background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.heading-primary {
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.50rem;
}


@media only screen and (max-width: 51.25rem) {
    .heading-primary {
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 13vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 57rem) {
    .heading-primary {
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 13vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 37.5rem) {
    .heading-primary {
        font-weight: 400;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 13vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 25.9rem) {
    .heading-primary {
        font-weight: 400;
        font-size: 0.7rem;
        padding-top: 0.5rem;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 10vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}

@media only screen and (max-width: 23.5rem) {
    .heading-primary {
        font-weight: 400;
        font-size: 0.7rem;
        padding-top: 0.5rem;
        letter-spacing: 0.1rem;
    }

    .header {
        height: 10vh;
        background: linear-gradient(to right, #2b34bae3, #d1d4f1ea);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }
}
