@{
    ViewData["Title"] = "KardexProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Kardex por Producto";
}

<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:0.4rem;">
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo </h2>
        </div>

        <div class="row mb-2">
            <div class="form-group col-md-3" style="padding-top:14px;">
                <label>Fecha Inicio</label>
                <input type="date" class="form-control" id="fechaInicioId" name="fechaInicioId">
            </div>
            <div class="form-group col-md-3" style="padding-top:14px;">
                <label>Fecha Final</label>
                <input type="date" class="form-control" id="fechaFinalId" name="fechaFinalId" autocomplete="off">
            </div>
        </div>
        <div class="row mb-2">
            <div class="form-group col-md-6 mb-2">
                <select class="form-select" id="productoId" name="productoId">
                </select>
            </div>
        </div>

        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-success" onfocus="false" id="btnConsultar"> Consultar</button>
            <a asp-action="Index" class="btn btn-primary">Regresar</a>
        </div>
    </div>
</form>


@section Scripts{

    <script>
        // Select 2
        $("#productoId").select2({
            placeholder: "Seleccionar Producto",
            allowClear: true,
            theme: "bootstrap-5",
            ajax: {
                url: "/inventario/inventario/BuscarProducto",
                contentType: "application/json; charset=utf-8",
                data: function (params) {
                    var query =
                    {
                        term: params.term
                    };
                    return query;
                },
                processResults: function (result) {
                    return {
                        results: $.map(result, function (item) {
                            return {
                                id: item.id,
                                text: item.numeroSerie + ' ' + item.descripcion
                            };
                        })
                    };
                }
            }
        });

    </script>

    <script>
        $("#btnConsultar").click(function () {
            let fechaInicialId = document.getElementById("fechaInicioId").value;
            let fechaFinalId = document.getElementById("fechaFinalId").value;
            let productoId = document.getElementById("productoId").value;

            if (fechaInicialId.toString() == '') {
                swal("Error", "Ingrese una Fecha de Inicio", "error");
                return false;
            }
            if (fechaFinalId.toString() == '') {
                swal("Error", "Ingrese una Fecha Final", "error");
                return false;
            }

            if (productoId.toString() == '') {
                swal("Error", "Ingrese un Producto", "error");
                return false;
            }
        });
    </script>
}


