<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://carlospiedrab-001-site1.atempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6a7c9b21-6c58-4b85-9608-8963bbfc9928</ProjectGuid>
    <MSDeployServiceURL>https://win8023.site4now.net:8172/msdeploy.axd?site=carlospiedrab-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>carlospiedrab-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>carlospiedrab-001</UserName>
    <_SavePWD>false</_SavePWD>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>