@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Lista de Usuarios</h2>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Register"> 
            <i class="bi bi-plus-square-fill"></i> Crear Nuevo Usuario 
         </a>
    </div>
</div>

<br />

<div class="p-4 border rounded bg-light">
    <table id="tblDatos" class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                <th>Email</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/usuario.js"></script>
}
